body{
    min-width: 300px;
    font-family: Raleway, sans-serif;
}
img{
    width:50px;
    float: left;
    padding-right:10px;
}
.company{
    vertical-align: middle;
    line-height: 50px;
    font-size:34px;
    color:rgb(119, 119, 119);
}
p{
    font-size: 13px;
}
a{
    font-size: 16px;
}