body {
  min-width: 300px;
  font-family: Raleway, sans-serif;
}

img {
  width: 15px;
  float: left;
  padding-right: 10px;
}

p {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#title {
  font-size: 14px;
}

#credit {
  text-align: right;
}
